@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 1200px) {
  #about {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
}

html {
  font-size: 62.5%;
  background-color: #000;
  color: #c8c8c8;
}
* {
  font-family: "Geist Mono", monospace;
  font-weight: 100;
}

@keyframes exampleAnimation {
  0% {
    opacity: 0;
    margin-top: 8%;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes slideBackground {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

p a {
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

p a::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0%;
  width: 0%;
  height: 100%;
  background-color: #ffce08;
  transition: width 0.2s ease-in-out;
}
p a:hover {
  color: #fff;
}
p a:hover::after {
  width: 100%;
}

span a {
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

span a::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0%;
  width: 0%;
  height: 100%;
  background-color: #fff;
  transition: width 0.2s ease-in-out;
}
span a:hover {
  color: #ffce08;
}
span a:hover::after {
  width: 100%;
}

.ql-syntax {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background-color: #2e2e2e;
  color: #f8f8f2;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  margin-top: 5px;
}

#particles canvas {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#contactParticles canvas {
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
